/* GLOBAL STYLING */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 2px solid;
  font-family: Avenir;
  height: auto;
  padding: 80px;
  position: relative;
}

.title {
  font-size: 1.7rem;
  margin: 10px 0;
}

.text-block {
  padding: 20px;
}

.text-separator {
  margin: 20px auto;
}

.list.students {
  border: 2px solid blue;
  cursor: pointer;
  list-style: none;
  margin: 0 auto;
  padding: 20px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.students .student:hover {
  color: orangered;
}

#content_main {
  padding-bottom: 60px;
  position: relative;
  top: 100px;
}

/* GENERIC  */

.blocks {
  border: 1px solid;
  margin-bottom: 20px;
}

.blocks .block {
  height: 100px;
}

.blocks .block:nth-child(2) {
  margin: 0 10px;
}

/* FLOATS */

.blocks.float {
  overflow: hidden;
}

.blocks.float .block {
  background: orange;
  /* float: left; */
  line-height: 100px;
  text-align: center;
  width: calc((100% / 3) - (20px / 3)); 
}

.blocks.float .block:not(.unfloat) {
  float: left;
}

.blocks.float .block.unfloat {
  background: red;
  width: 100%;
  margin-top: 10px;
  clear: left;
}

.blocks.float + .blocks {
  clear: left;
}

/* INLINE BLOCKS */
.blocks.inline-block {
  font-size: 0;
}

.blocks.inline-block .block {
  background: dodgerblue;
  display: inline-block;
  font-size: 16px;
  line-height: 100px;
  text-align: center;
  width: calc((100% / 3) - (20px / 3));
}

/*  FLEX !!!! */

.blocks.flex {
  display: flex;
}

.blocks.flex .block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: olive;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .blocks.flex {
    flex-direction: column;
  }
  .blocks.flex .block {
    width: 100%;
    margin: 0 0 10px;
  }
  .blocks.flex .block:last-of-type {
    margin-bottom: 0;
  }
}
