body {
    padding: 40px;
}

#form_create_user {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}
#form_create_user label {
  margin: 10px 0;
}
#form_create_user input {
  padding: 3px 0 3px 20px;
}
#form_create_user input,
#form_create_user select {
  border: 1px solid darkslategray;
  border-radius: 0.3rem;
  height: 28px;
  margin-bottom: 8px;
}

#form_create_user .btn {
    margin-top: 10px;
}

#user_board,
#user_board td,
#user_board th {
  border: 1px solid darkslategray;
  border-collapse: collapse;
}
#user_board thead {
  background: darkslategray;
  color: white;
}
#user_board td,
#user_board th {
  text-align: center;
  padding: 10px;
}
#user_board tr:nth-child(even) {
  background: #5c7373b8;
  color: white;
}
.btn {
  cursor: pointer;
  max-width: 120px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  border: 1px solid darkslategray;
}
.btn:hover {
  background: darkslategray;
  color: white;
  height: 32px;
}

.msg.error {
  color: red;
}

.msg.success {
  color: green;
}
