<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>axios post </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    {{#each scripts}}
    <script src="scripts/{{this}}" type="module"></script>
    {{/each}}
</head>
{{!-- look for axios cdn ... --}}
<body>
    <nav>
        <button class="btn" id="get_products">see all products</button>
    </nav>
    <hr>
    {{{ body }}}
</body>

</html>