<h1 class="title">Axios Post !</h1>
<h2 class="title">Post a product</h2>
<form id="add_product" method="post">
    <label for="prod_name">prod name</label>
    <input id="prod_name" type="text">
    <label for="prod_price">prod price</label>
    <input id="prod_price" type="number" min="0" step="1">
    <button id="post_product" class="btn">add product</button>
</form>