@import url("http://overpass-30e2.kxcdn.com/overpass.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: overpass;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding-left: 20px;
  list-style: none;
}
.flex {
  display: flex;
}
.flex.col {
  flex-direction: column;
}

.flex.align-y-center {
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.columns,
.rows {
  display: flex;
}
.colums-reverse {
  flex-direction: column-reverse;
}
.columns .item {
  flex: 1;
}
.columns .item.half {
  flex: 0 0 50%;
}
.columns .item.third {
  flex: 0 0 33%;
}
.columns .item.quarter {
  flex: 0 0 25%;
}
.rows {
  flex-direction: column;
}
.rows-reverse {
  flex-direction: row-reverse;
}
.navy {
  color: #001f3f;
}
.navy-bg {
  background: #001f3f;
  color: hsla(210, 100%, 75%, 1);
}
.navy-border {
  border-color: #001f3f;
}
.blue {
  color: #0074d9;
}
.blue-bg {
  background: #0074d9;
  color: hsla(208, 100%, 85%, 1);
}
.blue-border {
  border-color: #0074d9;
}
.aqua {
  color: #7fdbff;
}
.aqua-bg {
  background: #7fdbff;
  color: hsla(197, 100%, 20%, 1);
}
.aqua-border {
  border-color: hsla(197, 100%, 20%, 1);
}
.teal {
  color: #39cccc;
}
.teal-bg {
  background: #39cccc;
}
.teal-border {
  border-color: #39cccc;
}
.olive {
  color: #3d9970;
}
.olive-bg {
  background: #3d9970;
  color: hsla(153, 43%, 15%, 1);
}
.olive-border {
  border-color: #3d9970;
}
.green {
  color: #2ecc40;
}
.green-bg {
  background: #2ecc40;
  color: hsla(127, 63%, 15%, 1);
}
.green-border {
  border-color: #2ecc40;
}
.lime {
  color: #01ff70;
}
.lime-bg {
  background: #01ff70;
  color: hsla(146, 100%, 20%, 1);
}
.lime-border {
  border-color: hsla(146, 100%, 20%, 1);
}
.yellow {
  color: #ffdc00;
}
.yellow-bg {
  background: #ffdc00;
  color: hsla(52, 100%, 20%, 1);
}
.yellow-border {
  border-color: hsla(52, 100%, 20%, 1);
}
.orange {
  color: #ff851b;
}
.orange-bg {
  background: #ff851b;
  color: hsla(28, 100%, 20%, 1);
}
.orange-border {
  border-color: #ff851b;
}
.red {
  color: #ff4136;
}
.red-bg {
  background: #ff4136;
  color: hsla(3, 100%, 25%, 1);
}
.red-border {
  border-color: #ff4136;
}
.maroon {
  color: #85144b;
}
.maroon-bg {
  background: #85144b;
  color: hsla(331, 74%, 70%, 1);
}
.maroon-border {
  border-color: #85144b;
}
.fushia {
  color: #f012be;
}
.fushia-bg {
  background: #f012be;
  color: hsla(314, 88%, 21%, 1);
}
.fushia-border {
  border-color: #f012be;
}
.purple {
  color: #b10dc9;
}
.purple-bg {
  background: #b10dc9;
  color: hsla(292, 88%, 82%, 1);
}
.purple-border {
  border-color: #b10dc9;
}
.black {
  color: #111111;
}
.black-bg {
  background: #111111;
  color: #ddd;
}
.black-border {
  border-color: #111111;
}
.gray {
  color: #aaaaaa;
}
.gray-bg {
  background: #aaaaaa;
  color: #111111;
}
.gray-border {
  border-color: #aaaaaa;
}
.silver {
  color: #dddddd;
}
.silver-bg {
  background: #dddddd;
  color: #111111;
}
.silver-bg {
  border-color: #dddddd;
  color: #ddd;
}
