body {
  padding: 40px;
}

hr {
  margin: 10px 0 20px;
}

.profile {
  display: flex;
  max-width: 50vh;
  justify-content: space-between;
  padding: 10px;
}

.profile .avatar {
  height: 100px;
  width: 100px;
  border-width: 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}

.profile .greetings {
  border: 1px solid;
  border-radius: 0.4rem;
  padding: 10px;
}

.text-block {
  max-width: 50vw;
}

.is-hidden {
  display: none;
}

.title {
  margin: 20px 0;
}

#nav_main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}
.form label {
  margin: 10px 0;
}
.form input {
  outline: none;
  padding: 3px 0 3px 20px;
}
.form input,
.form select {
  border: 1px solid darkslategray;
  border-radius: 0.3rem;
  margin-bottom: 8px;
  height: 35px;
}

.form .btn {
  margin-top: 10px;
}

.board {
  margin: 30px 0;
}

.board,
.board .cell {
  border: 1px solid darkslategray;
  border-collapse: collapse;
}
.board .head {
  background: darkslategray;
  color: white;
}

#form_pack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#form_pack .input {
  width: 220px;
}

#form_pack .label {
  display: block;
  margin: 0 0 8px;
}

#new_pack_name {
  display: block;
}

#form_pack #price_widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35px;
}

#form_pack [id$="_block"] {
  margin-right: 20px;
}

#form_pack .input {
  max-width: 220px;
  margin-bottom: 0;
}

#form_pack .money {
  white-space: nowrap;
  margin-right: 15px;
}

#form_pack .massive.number,
#form_pack .massive.currency {
  font-size: 2rem;
  font-weight: bold;
  font-family: Impact;
}

#form_pack .icon {
  cursor: pointer;
  font-size: 2rem;
}

#form_pack .btn {
  position: relative;
  top: 10px;
  margin: 0;
}

#title_detail_product {
  max-width: 200px;
}

#title_detail_product .btn {
  margin-left: 10px;
}

.board .cell {
  text-align: center;
  padding: 5px 10px;
}

.board .btn {
  margin: auto;
  height: 20px;
}
.board .checkbox {
  cursor: pointer;
}

.board .row:nth-child(even) {
  background: #5c7373b8;
  color: white;
}

.board .row-empty {
  text-align: center;
}

.btn {
  cursor: pointer;
  max-width: 120px;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  border: 1px solid darkslategray;
  outline: none;
}

.btn:hover {
  background: darkslategray;
  border: 1px solid transparent;
  color: white;
  outline: none;
}

#category_widget {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 50px);
}

#category_widget #search_box_category {
  grid-column: 1/2;
  grid-row: 1/2;
}

#category_widget #form_category {
  grid-column: 1/2;
  grid-row: 2/6;
}

#category_widget #board_category {
  margin-top: 0;
  grid-column: 3/7;
  grid-row: 1/5;
  max-width: 400px;
  width: 100%;
  table-layout: fixed;
}

#category_widget .body .btn {
  padding: 0;
  height: 22px;
  width: 22px;
}

#category_widget .body .is-editing {
  outline: none;
}

#category_widget .body .cell.cat-name {
  max-width: 210px;
  word-break: break-word;
}

#category_widget .msg {
  position: absolute;
}

#nav_dashboard {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#nav_dashboard .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslategray;
  height: 42px;
  width: 65px;
  padding: 4px;
  margin-right: 10px;
  border-radius: 0.3rem;
}

#page_not_found {
  margin-top: 40px;
  border-radius: 0.6rem;
  padding: 20px;
  text-align: center;
}

.msg.success,
.msg.warning,
.msg.error {
  padding: 10px;
  border-radius: 0.4rem;
  margin: 20px 0;
}
.msg.error {
  background: #ff4136;
  color: hsla(3, 100%, 25%, 1);
}
.msg.warning {
  background: #ff851b;
  color: hsla(28, 100%, 20%, 1);
}

.msg.success {
  background: #2ecc40;
  color: hsla(127, 63%, 15%, 1);
}

.search-box {
  height: 32px;
  min-width: 320px;
  padding: 5px 0 5px 20px;
  border: 1px solid darkslategray;
  border-radius: 0.3rem;
}

.account-message {
  padding: 10px 10px 10px 0;
  border-radius: 0.4rem;
}
