<nav id="nav_dashboard">
    <a href="/dashboard/create-user" class="link">
        <span class="icon">
            <i class="fa fa-plus fa-lg"></i>
            <i class="fa fa-plus fa-user fa-lg"></i>
        </span>
    </a>
    <a href="/dashboard/list-users" class="link">
        <span class="icon">
            <i class="fa fa-list fa-lg"></i>
            <i class="fa fa-users fa-lg"></i>
        </span>
    </a>
</nav>