{{!-- (label+input)*4+label+select>option*2 --}}
<h2 class="title">Create a new user</h2>
{{#if msg}}
    <span class="msg {{msg.status}}">{{msg.txt}}</span>
{{/if}}
{{!-- 
.msg.success
.msg.error
--}}
{{!-- <form method="post" action="/api/user/create" id="form_create_user"> --}}
<form method="post" action="/user/create" id="form_create_user">
    <label for="name">name</label>
    <input id="name" type="text" value="foo" name="name">
    <label for="lastname">lastname</label>
    <input id="lastname" type="text" value="bar" name="lastname">
    <label for="email">email</label>
    <input id="email" type="email" value="baz@baz.com" name="email">
    <label for="age">age</label>
    <input id="age" type="number" value="38" name="age">
    <label for="role">role</label>
    <select id="role" name="role">
        <option value="user" selected>user</option>
        <option value="admin">admin</option>
    </select>
    <button id="btn_create_user" class="btn">ok</button>
</form>