<h1 class="title">About page</h1>
<p>
    ma super comapny is all about ...
</p>
<p class="text-block">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam rem dolores, repudiandae eveniet praesentium distinctio! Sed consequatur illum eligendi voluptates, aut quo voluptatum ipsa laborum esse possimus vitae autem nobis?
</p>