{{>head_dashboard}}
{{>nav_dashboard}}
<h3 class="title">details product</h3>
<p>product name: <b>{{ product.name }}</b> ( {{product.ref}} )</p>
<p>price: {{ product.price}} €</p>
<p><i>category</i>: {{ product.category }}</p>