.user {
    display: flex;
    border: 1px solid;
    padding: 10px;
    justify-content: space-between;
    max-width: 320px;
    height: 32px;
    margin: 0 0 10px;
    align-items: center;
}
.user .username {
    flex: 0 0 18%;
    border-right: 1px solid;
}
.user .icon {
    cursor: pointer;
}
.user .icon:hover {
    color: dodgerblue;
}