<p class="account-message">
    No account yet ? Pleaser <a href="/register" class="green">register</a>.
</p>

<form method="post" action="/login" id="form_login" class="form">
    <label for="email" class="label">email</label>
    <input id="email" type="email" value="baz@baz.com" name="email" required>
    <label for="password" class="label">password</label>
    <input id="password" type="password" value="123456" name="password" required>
    <button id="btn_login" class="btn">login</button>
</form>