<div id="form_category" class="form">
    <label for="cat_name" class="label"><b>Add a category</b></label>
    <input id="cat_name" type="text" value="default cat" class="input">
    <button id="btn_create_category" class="btn">ok</button>
</div>