
<p class="account-message">
    Do you already have an account ? Please <a href="/login" class="green">login</a>.
</p>

<form method="post" action="/register" id="form_register" class="form" enctype="multipart/form-data">
    <label for="name">name</label>
    <input id="name" type="text" value="foo" name="name" required>
    <label for="lastname">lastname</label>
    <input id="lastname" type="text" value="bar" name="lastname" required>
    <label for="email">email</label>
    <input id="email" type="email" value="baz@baz.com" name="email" required>
    <label for="password">password <i id="reveal_password" class="clickable fas fa-eye"></i></label>
    <input id="password" type="password" value="123Sunshine" name="password" required>
    <label for="age">age</label>
    <input id="age" type="number" value="38" name="age">
    <div class="flex">
        <label for="avatar">pick an avatar :&nbsp;</label>
        <i id="avatar" class="clickable fas fa-user-circle fa-3x"></i>
    </div>
    <input id="file_input" type="file" name="avatar" style="display:none">
    <button id="btn_register" class="btn">register</button>
</form>