<nav id="nav_dashboard">
    <a href="/dashboard/user/create" class="link">
        <span class="btn icon" title="create a user">
            <i class="fa fa-plus fa-lg"></i>
            <i class="fa fa-plus fa-user fa-lg"></i>
        </span>
    </a>
    <a href="/dashboard/user/list" class="link">
        <span class="btn icon" title="view all users">
            <i class="fa fa-list fa-lg"></i>
            <i class="fa fa-users fa-lg"></i>
        </span>
    </a>
    <a href="/dashboard/product/create" class="link">
        <span class="btn icon" title="create a product">
            <i class="fa fa-plus fa-lg"></i>
            <i class="fab fa-product-hunt fa-lg"></i>
        </span>
    </a>
    <a href="/dashboard/product/list" class="link">
        <span class="btn icon" title="view all products">
            <i class="fa fa-list fa-lg"></i>
            <i class="fab fa-product-hunt fa-lg"></i>
        </span>
    </a>
    <a href="/dashboard/pack/list" class="link">
        <span class="btn icon" title="view all product-packs">
            <i class="fas fa-box-open"></i>
        </span>
    </a>
    <a href="/dashboard/category/manage" class="link">
        <span class="btn icon" title="manage categories">
            <i class="fas fa-tags fa-lg"></i>
        </span>
    </a>
</nav>