<nav id="nav_main" class="nav navy-bg">
    <a href="/home" class="link">home</a>
    <a href="/register" class="link">register</a>
    <a href="/login" class="link">login</a>
    <a href="/dashboard" class="link">dashboard</a>
</nav>