.is-clickable {
  cursor: pointer;
}

.widgets {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.widgets > * {
  margin-right: 10px;
}

.button {
    margin: 20px 0;
}

.input {
    max-width: 320px;
}
